<li id="note-<%= note.id %>">
  <div class="post-area">
  <h6><%= link_to note.user.name, note.user %></h6>
  <div class="media ">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Title</h5>
      <p><%= note.content %></p>
    </div>
    <%= image_tag note.picture.url, class: "ml-3" if note.picture?%>
  </div>
    <div class="row justify-content-between post-info">
      <div class="col-4">Posted <%= time_ago_in_words(note.created_at) %> ago.</div>
      <% if current_user?(note.user) %>
      <div class="col-2"><%= link_to "delete", note, method: :delete, class: "btn btn-outline-danger",
                      data: { confirm: "消してよろしいですか？" } %>
      </div>
      <% end %>
    </div>
  </div>
</li>


