<li id="note-<%= note.id %>">
  <span class="user"><%= link_to note.user.name, note.user %></span>
  <span class="content">
    <%= note.content %>
    <%= image_tag note.picture.url if note.picture? %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(note.created_at) %> ago.
    <% if current_user?(note.user) %>
      <%= link_to "delete", note, method: :delete,
                  data: { confirm: "消してよろしいですか？" } %>
    <% end %>
  </span>
</li>