<%= provide(:title, "Post Note") %>
<div class="post-body">
  <div class="container">
  <%= form_for(@note,url:{controller: 'notes',action: 'create'}) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
    <div class="form-group">
      <%= f.text_field :title,placeholder:"タイトル",class:"form-control" %>
    </div>
    <div id="elementArea">
      <div class="new element1">
      <div class="addElement1 showMenuIcon icons" style="display: none;">
        <i class="fas fa-plus-circle fa-2x"></i>
      </div>
      <div class="changeElementBack1 backMenuIcon postIcon icons" style="display: none;">
        <i class="fas fa-times fa-2x"></i>
        <p class="ex-box">テキスト入力</p>
      </div>

      <div class="changeElementImage1 postIcon icons imgBtn" style="display: none;">
        <i class="far fa-image fa-2x imgBtn1">
        </i>
        <p class="ex-box">画像挿入</p>
      </div>
      <textarea placeholder="テキスト" class="input1" cols="50" rows="1"  oninput="textAreaHeightSet(this)" onchange="textAreaHeightSet(this)"></textarea>
        <img src="" alt="" class="showimg1 showthum">
        <div id="nextBtn1" class="next" style="display: none;">
        <i class="fas fa-arrow-down fa-2x"></i>
        </div>

        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">画像選択</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body modal-body-area1">
                一番下のファイルからアップロードしてください
                <%= f.nested_fields_for :images, wrapper_tag: :div do |image| %>
                  <%= image.file_field :picture, class:"inputFile" %>
                <% end %>
                <%= f.add_nested_fields_link :images, '画像追加', class: 'btn btn-primary', role: 'button' %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%= f.hidden_field :user_id, :value => @user_id %>

    <div class="form-group">
      <%= f.select :category, [["エンタメ",1],["スポーツ",2],["コラム",3],["ビジネス",4],["ライフスタイル",5],["テクノロジー",6]],class:"form-control" %>
    </div>
      <%= f.submit "公開", class: "btn btn-primary"%>

      <%= f.text_area :content, id: "sendtext"%>
  <% end %>
  </div>
</div>
<%= javascript_include_tag "main" %>
<%= stylesheet_link_tag "https://use.fontawesome.com/releases/v5.0.10/css/all.css" %>
