<%= provide(:title, "Post Note") %>

<div class="post-body">
  <div class="container">
  <%= form_for(@note,url:{controller: 'notes',action: 'create'}) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
    <div class="form-group">
      <%= f.text_field :title,placeholder:"タイトル",class:"form-control" %>
    </div>
    <div id="elementArea">
      <div class="new element1">
      <div class="addElement1 showMenuIcon icons" style="display: none;">
        <i class="fas fa-plus-circle fa-2x"></i>
      </div>
      <div class="changeElementBack1 backMenuIcon postIcon icons" style="display: none;">
        <i class="fas fa-times fa-2x"></i>
        <p class="ex-box">テキスト入力</p>
      </div>

      <div class="changeElementImage1 postIcon icons imgBtn" style="display: none;">
        <i class="far fa-image fa-2x imgBtn1">
        </i>
        <p class="ex-box">画像挿入</p>
      </div>
      <textarea placeholder="テキスト" class="input1" cols="50" rows="1"  oninput="textAreaHeightSet(this)" onchange="textAreaHeightSet(this)"></textarea>
    <%= link_to controller:'images',action: 'new', remote: true do %>
    <button id="nextBtn1" style="display: none">次へ</button>
    <% end %>
        <img src="" alt="" class="showimg1 showthum">
        <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">画像選択</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body modal-body-area1">
                <img src="" alt="" class="showimg1 showthum">
                <div>
                  <%= f.fields_for @image do |ff| %>
                    <div data-role="image_area">
                      <div>
                        <%= image_tag @image.picture.url(:thumb) unless @image.picture.blank? %>
                        <%= ff.file_field :picture, id:"inputFile" %>
                      </div>
                    </div>
                    <%= ff.hidden_field :user_id, value:@user_id %>
                  <% end %>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%= f.hidden_field :user_id, :value => @user_id %>

    <div class="form-group">
      <%= f.select :category, [["エンタメ",1],["スポーツ",2],["コラム",3],["ビジネス",4],["ライフスタイル",5],["テクノロジー",6]],class:"form-control" %>
    </div>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        公開設定
      </button>
      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header" style="justify-content: center;">
              <h5>公開設定</h5>
            </div>
            <div class="modal-body">
              <p class="sell">販売設定</p>
              <div class="form-check form-check-inline">
                <%= f.radio_button :price_status,0, style:"form-check-input",id:"inlineCheckbox1"%>
                <label class="form-check-label" for="inlineCheckbox1">無料</label>
              </div>
              <div class="form-check form-check-inline">
                <%= f.radio_button :price_status ,1, style:"form-check-input",id:"inlineCheckbox2" %>
                <label class="form-check-label" for="inlineCheckbox2">有料</label>
              </div>
              <label class="input_price"><%= f.number_field :price %>XEM</label>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
              <%= f.submit "公開", class: "btn btn-primary"%>
            </div>
          </div>
        </div>
      </div>
      <%= f.text_area :content, id: "sendtext"%>
  <% end %>
  </div>
</div>
<%= stylesheet_link_tag "https://use.fontawesome.com/releases/v5.0.10/css/all.css" %>
<script type="text/javascript">
    $('#note_picture').bind('change', function() {
        var size_in_megabytes = this.files[0].size/1024/1024;
        if (size_in_megabytes > 5) {
            alert('Maximum file size is 5MB. Please choose a smaller file.');
        }
    });
</script>
<%= javascript_include_tag "main" %>
