
<% if logged_in? %>
    <ul>
    <li><%= link_to "ユーザー一覧", users_path %></li>
    <li><%= link_to "マイページ", user_path(current_user) %></li>
    <li><%= link_to "情報編集", edit_user_path(current_user) %></li>
    <li><%= link_to "記事投稿", post_path %></li>
    <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
    </ul>
<% else %>
    <li><%= link_to "ログイン", login_path %></li>
    <li><%= link_to "新規登録", signup_path %></li>
<% end %>