<script>
    $(function(){
        $('#inputFile').change(function(e){
            //ファイルオブジェクトを取得する
            var file = e.target.files[0];
            var reader = new FileReader();

            //画像でない場合は処理終了
            if(file.type.indexOf("image") < 0){
                alert("画像ファイルを指定してください。");
                return false;
            }

            //アップロードした画像を設定する
            reader.onload = (function(file){
                return function(e){
                    $(".showimg").attr("src", e.target.result);
                    $(".showimg").attr("title", file.name);
                };
            })(file);
            reader.readAsDataURL(file);

        });
    });
</script>

<div>
  <img src="" title="" class="showimg" style="width:300px;height:300px;">
  <!--アペンドでtextareaにはuploads/~でかく-->
</div>


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <%= form_for(@image, url:{controller:'images',action:'create'}, html: {multipart: true}) do |f| %>
            <div data-role="image_area">
              <div>
                <%= image_tag @image.picture.url(:thumb) unless @image.picture.blank? %>
                <%= f.file_field :picture, id:"inputFile" %>
                <div class="showname"><img src=""></div>
              </div>
            </div>
            <div>
              <%= f.submit "登録する" %>
            </div>
            <%= f.hidden_field :user_id, value:@user_id %>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>